.leftdashdiv {
  position: absolute;
  top: 10vh;
  width: 30%;
  background-color: beige;
  height: 90vh
}

.rightdashdiv {
  padding: 5px;
  position: absolute;
  top: 10vh;
  left: 30%;
  width: 70%;
  background-color: cornflowerblue;
  height: 90vh;
}

.menudashdiv {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
}

.centerHV {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
