.errorLoginMessage {
  padding: 10px;
  background-color: white;
  width: 50vw;
  position: absolute;
  border-radius: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  display: flex;
  justify-content: center;
}

.btnInfo {
  top: 70% !important;
}

.errorBackground {
  background-color: white;
  width: 80vw;
  height: 80vh;
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
